*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


header{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.logo{
    padding: 20px;
}

li>a{
    text-decoration: none;
    padding: 20px;
}
.pages{
    display: flex;
}
.lists {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.pages li {
    margin-left: 20px;
}
.icon{
    display: none;
}
li button {
    background-color: rgb(225, 0, 255);
    width: 80px;
    height: 3vh;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
li button:hover {
    background-color: none;
  }

.text-1 button{
    width: 20%;
    height: 3vh;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 192, 203, 0.377);
}
.text-1{
    /* width: 50%; */
    height: 30vh;
}
.images{
    width: 40%;
}
.text-1 h4{
   font-size: 38px;
   color: #181E4B;
}
.description{
     margin: 5%;
     display: flex;
     justify-content: center;
}
.image{
    width: 40%;
    height: 30vh;
    height: 20vh;
}
.image img{
    position: absolute;


}
#p-1{
    color: orangered;
    font-size: 20px;
    font-weight: bold;
}

  .search-container i {
    font-size: 24px; 
    color: white; 
  }

  .works,.destinations{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex-wrap: wrap;
    padding: 10px 0px;


}




  .step,.dest{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 400px; */
    height: 30vh;
    gap: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.5s ease-out;
}
.dest{
  background-color: white;
  max-width: 400px;
  width: 100%;
  height: 30vh;
}
.step:hover{
    transform: translateY(-15px);
    background-color: white;
}
.t-1,.t-2{
  display: flex;
  justify-content: space-between;
  /* margin: 0 5%; */
  width: 100%;
}
.t-1 p{
  color: #5E6282;
}
.dest img,.sub-ad img{
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 18vh;

}
.step i{
    color: blue;
    width: 6vw;
    width: 30px;
}
.step h2{
  font-size: 20px !important;
}
.steps ,.dests{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 10px;

}
.dests{
  gap: 80px;
}
.advertisement{
  flex-direction: column;
  margin-top: 20px;
}
.adverts{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.ad-1,.ad-2{
   font-size: 20px;
   margin: auto 10%;
   max-width: 400px;
}
.sub-ad{
 
  max-width: 400px;
  height: 30vh;
  box-shadow:2px solid #5E6282;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.test-ad{
  height: 20vh;
  max-width: 400px;
  margin-top: 50px;
  margin-left: 20%;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.t-img{
  display: flex;
  justify-content: space-between;
}
.adt-1,.adt-2{
  text-align: center;
}
.adt-3{
  display: flex;
  justify-content: space-between;

}
#profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3%;
  z-index: 1;
}
.subscribes{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
  padding: 10px 0px;

}
.sub-adt{
  display: flex;
}
.subscribe{
  background-color: #DFD7F9;
  height: 25vh;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 20% 2% 5% 5%;
}
#sub{
  color: #5E6282;
  
}
input{
  width: 40%;
  height: 5vh;
  outline: none;
  text-indent: 15px;
  margin-bottom: 20px;
}
.subscribe button{
  height: 5vh;
  color: white;
  background-color: #FF946D;
  border: none;
}
footer{
  position: relative;
  height: 30vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding:0 20%;
  justify-content: space-between;
  bottom: 0;
}
.image{
  width: 20vh;
}
ul li{
  list-style-type: none;
}
.footer-col h4{
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-col ul{
  list-style: none;
}

.footer-col i{
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  li>a {display: none;}
   a.icon {
    float: right;
    display: block;
  }
  footer{
    display: block;
    padding: 50px;
    height: 58vh;
  }
  .testmonial{
    margin-top: 20px;
  }
  .test-ad{
    margin-left: 20px;
  }
  .sub-ad{
    margin-right: 20%;
  }
  .adt-3{
    justify-content: space-between;
  }
}
@media(min-width:768px) {
  .col-1{
      width: 8.333%;
  }
  .col-2{
      width: 16.666%;
  }
  .col-3{
      width: 25%;
  }
  .col-4{
      width: 33.333%;
  }
  .col-5{
      width: 41.666%;
  }
  .col-6{
      width: 50%;
  }
  .col-7{
      width: 58.333%;
  }
  .col-8{
      width: 66.666%;
  }
  .col-9{
      width: 75%;
  }
  .col-10{
      width: 83.333%;
  }
  .col-11{
      width: 91.666%;
  }
  .col-12{
      width: 100%;
  }
}

@media(min-width:601px) and (max-width:767px){
  .col-md-1{
      width: 8.333%;
  }
  .col-md-2{
      width: 16.666%;
  }
  .col-md-3{
      width: 25%;
  }
  .col-md-4{
      width: 33.333%;
  }
  .col-md-5{
      width: 41.666%;
  }
  .col-md-6{
      width: 50%;
  }
  .col-md-7{
      width: 58.333%;
  }
  .col-md-8{
      width: 66.666%;
  }
  .col-md-9{
      width: 75%;
  }
  .col-md-10{
      width: 83.333%;
  }
  .col-md-11{
      width: 91.666%;
  }
  .col-md-12{
      width: 100%;
  }
}
@media(max-width:600px){
  .col-sm-1{
      width: 8.333%;
  }
  .col-sm-2{
      width: 16.666%;
  }
  .col-sm-3{
      width: 25%;
  }
  .col-sm-4{
      width: 33.333%;
  }
  .col-sm-5{
      width: 41.666%;
  }
  .col-sm-6{
      width: 50%;
  }
  .col-sm-7{
      width: 58.333%;
  }
  .col-sm-8{
      width: 66.666%;
  }
  .col-sm-9{
      width: 75%;
  }
  .col-sm-10{
      width: 83.333%;
  }
  .col-sm-11{
      width: 91.666%;
  }
  .col-sm-12{
      width: 100%;
  }
  .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-1 p,h4{
    width: 90%;
  }
  .text-1 h4{
    font-size: 20px;
  }
  .image{
    margin-bottom: 40%;
  }
  .image img{
    width: 100%;
    margin-bottom: 100px;
  }
  .testmonial{
    width: 100%;
  }
  .adverts{
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .ad-2,.test{
    width: 100%;
  }
  .ad-1{
    width: 90%;
  }
  .sub img{
    width: 100%;
  }
  .subscribes{
    width: 100%;
  }
  .subscribe{
    width: 90%;
  }
  .steps , .dests {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.step , .dest{
    width: 90%;
}
.works , .destinations{
    margin-top: 20%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    background-color: aliceblue;
}
}